.container-technology{
  background-image: url("/src/components/technology/images/background-technology-desktop.jpg");
}

.technology-title{
  position: absolute;
  top: 22%;
  left: 10%;
  width: 40%;
  display: flex;
}